body{
  font-family: "Inter", sans-serif;
}
.app{
  background-color: black;
}
.tabs button{
  background-color: black;
  color: #fff;
  border: 0;
}
.player-image{
  width: 100%;
  max-width: 480px;
  height: 510px;
}


.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #1a1a1a;
  color: white;
}

.progress-bar {
  width: 100%;
  margin-bottom: 10px;
}

.progress {
  width: 100%;
  appearance: none;
  background-color: #555;
  height: 5px;
  border-radius: 2.5px;
}

.progress::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.icon {
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
  transition: color 0.3s;
}

.icon:hover {
  color: #aaa;
}

.play-pause {
  font-size: 25px;
}
